asgiref==3.7.2
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
dj-database-url==2.1.0
Django==4.2.7
django-crispy-forms==2.1
gunicorn==21.2.0
idna==2.6
numpy==1.20.3
numpy-financial==1.0.0
packaging==23.2
pandas==1.2.4
psycopg2==2.8.6
python-dateutil==2.7.3
pytz==2018.3
requests==2.18.4
six==1.11.0
sqlparse==0.4.4
typing_extensions==4.8.0
urllib3==1.22
whitenoise==6.6.0
