certifi==2022.12.7
chardet==3.0.4
coverage==4.5.1
dj-database-url==0.5.0
Django==2.2.24
django-crispy-forms==1.7.0
django-heroku==0.3.1
gunicorn==19.7.1
idna==2.6
numpy==1.20.3
numpy-financial==1.0.0
pandas==1.2.4
psycopg2==2.8.6
python-dateutil==2.7.3
pytz==2018.3
requests==2.18.4
six==1.11.0
urllib3==1.22
whitenoise==3.3.1
