

<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>About</h4>
		  <p>If you've ever gotten into a conversation about when it makes sense to buy a home, you'll often run across a few 'common sense' 
			maxims -- 'when you have a mortage you're paying yourself instead of your landlord,' 'buying is cheaper than renting,' and 'a home is a great investment.' Certainly, there are conditions where all of these are true. But just as certainly, <i>there are conditions where none of these are true!</i></p>
		  <p>The goal then is to help everyone from the prospective home buyer in making an informed purchase to the friends at a bar re-hasing the endless rent v. buy debate.</p>
		  <p>If you hvae any suggestions, comments, or questions, feel free to shoot me a note at <a href="mailto:garrett@mortgageroi.com">garrett@mortgageroi.com</a></p>
		  <p>Cheers,</p>
		  <p>Garrett</p>
		 <h4>Methodology</h4>
		  <p>Coming soon</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>