<table class="table-responsive table-striped table-sm">
	<thead>
		<tr>
			<th scrop="col">City</th>
			<th scrop="col">1997</th>
			<th scrop="col">2002</th>
			<th scrop="col">2007</th>
			<th scrop="col">2012</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td scope="row">New York</td>
			<td>4%</td>
			<td>2%</td>
			<td>0%</td>
			<td>4%</td>
		</tr>

		<tr>
			<td scope="row">Chicago</td>
			<td>2%</td>
			<td>1%</td>
			<td>-1%</td>
			<td>4%</td>
		</tr>

		<tr>
			<td scope="row">Phoenix</td>
			<td>4%</td>
			<td>3%</td>
			<td>-1%</td>
			<td>7%</td>
		</tr>

		<tr>
			<td scope="row">Dallas</td>
			<td>NA</td>
			<td>3%</td>
			<td>4%</td>
			<td>8%</td>
		</tr>

		<tr>
			<td scope="row">Atlanta</td>
			<td>2%</td>
			<td>1%</td>
			<td>1%</td>
			<td>8%</td>
		</tr>

		<tr>
			<td scope="row">San Francisco</td>
			<td>6%</td>
			<td>4%</td>
			<td>3%</td>
			<td>11%</td>
		</tr>

	</tbody>
</table>
<p><a href="#" data-toggle="tooltip" title="S&P/Case-Shiller U.S. National Home Price Index, retrieved from FRED, Federal Reserve Bank of St. Louis; 3/4/18">Source</a></p>