
{% load widget_tweaks %}
{% load humanize %}
{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="google-site-verification" content="0HO83BcVFMICFl8D2LcGEyii_oXifx7sp0A_ln9f0XM" />
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
	  (adsbygoogle = window.adsbygoogle || []).push({
		google_ad_client: "ca-pub-8255044201060248",
		enable_page_level_ads: true
	  });
	</script>
	  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  
	<!-- Loader CSS -->  
	<link rel="stylesheet" type="text/css" href="{% static "calc/css/loader.css" %}">

    <title>Home Investment Calculator</title>
  </head>
  <body>
	{% include "calc/about-modal.html" %}
	<div class="col-x-12 overlay">
		<div class="loader"></div>
	</div>
	<div class="p-3 mb-2 bg-light text-dark" style="overflow-x: hidden;">
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-10">
		<h1>Mortgage ROI Calculator</h1>
		<p>There are a lot of mortgage calculators out there, but they cluster around very simple questions -- what will my mortgage payment be, how expensive of a house can I afford, when is it cheaper to rent or buy. But there's another more important question: Is buying a house the best investment of my money, or might I be better off renting and putting it in the stock market? The <b>Mortgage ROI</b> calculator does just that. Enter your assumptions and it takes care of the rest.</p>
			</div>
		</div>
		{% include "calc/investment-form.html" %}
		<div class="row">
		<div class="col-md-12">
		<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#aboutModal">About/Methodology</button>
		</div>
		</div>
	  </div>
	  </div>
	  <div class="p-3 mb-2 bg-secondary text-white" style="overflow-x: hidden;">
	  <div class="container">
		{% include "calc/takeaway-box.html" %}
	  </div>
	  </div>
	  <div class="container">
		{% include "calc/stream-table.html" %}
	  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js" crossorigin="anonymous"></script>
	<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
	<script src="{% static "calc/js/chart-options.js" %}"></script>
	<script src="{% static "calc/js/get-stream.js" %}"></script>
	<script src="{% static "calc/js/form-select.js" %}"></script>
	
	
	  
  </body>
</html>