<table class="table table-sm">
	<thead id="thead" style="display:none;">
		<tr>
			<th scope="col">Year</th>
			<th scope="col">Principal Paid</th>
			<th scope="col">Interest Paid</th>
			<th scope="col">Other Costs</th>
			<th scope="col">Avoided Rent</th>
			<th scope="col">Total Spend</th>
			<th scope="col">Home Value</th>
			<th scope="col">Debt</th>
			<th scope="col">Equity</th>
			<th scope="col">IRR % (if sold)</th>
		</tr>
	</thead>
	<tbody id="tbody" name="tbody">

	</tbody>
</table>