<div id="takeaways" class="row">
	<div class="col-sm-12 p-3 mb-2 bg-secondary text-white">

		<div class="row">
			<div class="col-sm-4">
				<p><strong>Investment returns (IRR): </strong>As a reference, the long run annualized return of the S&P500 is ~9% with reinvested dividends.</p><br>
			</div>
			<div class="col-sm-8">
				<canvas id="irrChart"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<p><strong>Paying yourself: </strong>Year <span id="first_year_ppmt_greater_than_ipmt"></span> is the first year when your <strong>principal payment will be larger than your interest payment.</strong></p>
			</div>
			<div class="col-sm-8">
				<canvas id="pmtChart"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<p><strong>Saving money: </strong>Year <span id="first_year_positive_cash_flow"></span> is the first year when your <strong>house's mortgage and other costs are less expensive than the equivalent rent.</strong></p>
			</div>
			<div class="col-sm-8">
				<canvas id="cashFlowChart"></canvas>
			</div>
		</div>
	</div>
</div>