{% load static %}

<div id="takeaways" class="row">
	<div class="col-sm-12">
		<h1>Results</h1>
	</div>
	<div class="col-sm-12 p-3 mb-2 bg-secondary text-white">
		<div class="row">
			<div class="col-sm-4">
				<img src="{% static "calc/media/plantpot.png" %}" class="img-fluid" height="50" width="50">
				<u><strong>Investment returns (IRR): </strong></u>
					
					<div class="takeaways-content" style="display:none;">
					<p>Your <b>peak annualized return is <span id="peak_irr"></span>% if you sell in year <span id="sell_year"></span>.</b> The long run annualized return of the S&P500 is ~7-9%.</p>
				</div>
					
			</div>
			<div class="col-sm-8">
				<canvas id="irrChart" height="400"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<img src="{% static "calc/media/lever.png" %}" class="img-fluid" height="50" width="50">
				<u><strong>Value Levers: </strong></u>
					
					<div class="takeaways-content" style="display:none;">
					<p>Shows the effect on returns from:</p>
					<p><b>Mortgage: </b>If the yearly appreciation is higher than the mortgage interest rate, a mortgage increases returns as you capture the difference between the gain and the interest rate</p>
					<p><b>Avoided rent: </b>Typically the largest value driver and represents the value gained from the rent you save by owning</p>
					<p><b>Tax shield: </b>Tax breaks from the home interest and state/local ('SALT') tax deducations. The higher your income the higher the benefit</p>
				</div>
					
			</div>
			<div class="col-sm-8">
				<canvas id="valueDriversChart" height="400"></canvas>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-4">
				<img src="{% static "calc/media/contract.png" %}" class="img-fluid" height="50" width="50">
				<u><strong>Mortgage payments: </strong></u>
					
					<div class="takeaways-content" style="display:none;">
						<p>Your monthly <b>mortgage payment is $<span id="mortgage_payment"></span></b> versus a <b>rent payment of $<span id="rent_payment"></span>.</b></p>
						
						<div id="takeaways_has_mortgage" style="display:none;">
						<p>Year <span id="first_year_ppmt_greater_than_ipmt"></span> is the first year when your <b>principal payment will be larger than your interest payment</b> (i.e., you pay yourself more than the bank).</p>
						</div>
						
						<div id="takeaways_no_mortgage" style="display:none;">
						<p>Since your down payment is 100% (i.e., you paid all cash up front) you have no interest payments. Note that if your yearly appreciation is greater than your interest rate, it increases returns to have a mortgage.</p>
						</div>
				</div>
			</div>
			<div class="col-sm-8">
				<canvas id="pmtChart" height="400"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<img src="{% static "calc/media/funds.png" %}" class="img-fluid" height="50" width="50">
				<u><strong>Pre-Sale Cash flow: </strong></u>
					
					<div class="takeaways-content" style="display:none;">
						<p>Aside from the mortgage payment, home ownership has other costs that renters don't have, like the down payment, property taxes, maintenance, etc.</p>
				</div>
				
			</div>
			<div class="col-sm-8">
				<canvas id="cashFlowChart" height="400"></canvas>
			</div>
		</div>
	</div>
</div>
