<div id="takeaways" class="row">
	<div class="col-sm-12">
		<h1>Results</h1>
	</div>
	<div class="col-sm-12 p-3 mb-2 bg-secondary text-white">
		<div class="row">
			<div class="col-sm-4">
				<p><strong>Investment returns (IRR): </strong>
					
					<span class="takeaways-content" style="display:none;">
					Your peak annualized return is <span id="peak_irr"></span> if you sell in year <span id="sell_year"></span>. The long run annualized return of the S&P500 is ~7-9%.</span></p>
					
			</div>
			<div class="col-sm-8">
				<canvas id="irrChart"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<p><strong>Mortgage payments: </strong>
					
					<span class="takeaways-content" style="display:none;">
						Your monthly mortgage payment is <span class="mortgage_payment"></span> versus a rent payment of <span class="rent"></span>. Year <span id="first_year_ppmt_greater_than_ipmt"></span> is the first year when your principal payment will be larger than your interest payment.</span></p>
			</div>
			<div class="col-sm-8">
				<canvas id="pmtChart"></canvas>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4">
				<p><strong>Cash flow: </strong> 
					
					<span class="takeaways-content" style="display:none;">
						While your mortgage payment may be less than your curent rent, home ownership carries other costs like maintenance, insurance, property taxes, etc.</span></p>
				
			</div>
			<div class="col-sm-8">
				<canvas id="cashFlowChart"></canvas>
			</div>
		</div>
	</div>
</div>
